body{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(225, 225, 225);
}

h1{
    color: lightcoral;
}

.outer{
    padding-top: 50px;
}

.main{
    background-color: whitesmoke;
    text-align: left;
    padding: 20px 20px;
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0,0,0,0.2)
}

.button{
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    box-shadow: 0px 15px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms
}
.button:hover{
    box-shadow: 0px 25px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -3px);
        color: lightcoral
}

.button:focus{
    outline: 0;
    border: none;
    -moz-outline-radius: none
}